<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="user" class="com.atguigu.git.bean.User" >-->
        <!--<property name="name" value="zhangsan"></property>-->
        <!--<property name="age" value="18"></property>-->
    <!--</bean>-->

    <bean id="a" class="com.atguigu.git.circulardependencies.A">
        <property name="b" ref="b"></property>
    </bean>
    <bean id="b" class="com.atguigu.git.circulardependencies.B">
        <property name="a" ref="a"></property>
    </bean>

</beans>